{% extends 'base.html' %}
{% load static %}

{% block page_title %} {{posts.title}} {% endblock page_title %} 
{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post_details.css' %}">
{% endblock css_files %}


{% block page_content %}
<section id="summary">
    <h2>{{posts.title}}</h2>
    <article>
        <img src="{% static 'blog/images/'|add:posts.image %}" alt="{{posts.title}}">
        <address> BY {{posts.author | title}}</address>
        <div>
            Last updated on <time> {{posts.date |date:"d M Y"}} </time>
        </div>
    </article>

</section> 

<main>
    <p> {{posts.content}} </p>
</main>
{% endblock page_content %}

